.register-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width:801px){
      height: initial;
    }
  
  .content {
    width: 100%;
    padding: 96px;
    background: #F0F0F5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:801px){
      flex-flow: column nowrap;
      padding: 30px 30px 60px;
      position: relative;
    }
  }
  
  section {
    width: 100%;
    max-width: 380px;

    .logo-form {
      @media (max-width:801px){
        width: 100%;
      }
    }
    
    h1 {
      margin: 30px auto 30px 0;
      font-size: 32px;
    }
    
    p {
      font-size: 18px;
      color: #737378;
      line-height: 32px;
    }
  }
  
  .back-link {
    margin-top: 10px;

    @media (max-width:801px){
      position: absolute;
      bottom: 17px;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      display: flex;
      justify-content: center;
      padding: 0 5px;
    }
  }
  
  
  form {
    width: 100%;
    max-width: 450px;
    
    input {
      margin-top: 8px;
    }
    
    .input-group {
      display: flex;

      @media (max-width:801px){
        flex-flow: column;
      }
    }
    
    .input-group input + input {
      margin-left: 8px;
    }

    input {
      @media (max-width:801px){
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}
  
  