header{
    display: flex;
    align-items: center;

    @media (max-width:600px){
        flex-flow: row wrap;


        .logo{
            order: 1;
        }

        .logout{
            order: 2;
        }

        .ong-name{
            order: 3;
        }
    }

    .ong-name {
        font-size: 20px;
        margin-left: 24px;
        margin-right: auto;

        @media (max-width:801px){
            margin: 20px 0 0;
            text-align: center;
            font-size: 24px;
            flex: 1 1 100%;
        }
    }

    .logo{
        position: relative;
        right: 170px;
        right: 0;
        margin-left: 0;
        margin-right: auto;
        svg{
          width: 151px;
          height: 64px;
        }
    }

    .new-case-link {
        width: 260px;
        margin-left: auto;
        margin-top: 0;

        @media (max-width:801px){
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 2;

            &:after{
                content: "";
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100px;
                background: #fff;
                z-index: 1;
                box-shadow: 0px -9px 4px rgba(0,0,0,0.1);
            }

            button{
                z-index: 2;
                position: relative;
                margin: 0;
                width: calc(100% - 30px);
                left: 15px;
                bottom: 20px;
            }
        }
    }

    .new-case{
        margin: 0;
    }

    button {
        height: 60px;
        width: 60px;
        border-radius: 8px;
        border: 1px solid #DCDCE6;
        margin-left: 16px;
        transition: border-color 0.2s;

        &:hover {
            border-color: #999;
        }
    }
}
