.new-incident-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width:801px){
      height: initial;
      min-height: 100vh;
    }
  
  .content {
    width: 100%;
    padding: 96px;
    background: #F0F0F5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:801px){
      flex-flow: column nowrap;
      padding: 30px 30px 60px;
      position: relative;
    }
  }
  
  .content section {
    width: 100%;
    max-width: 380px;


  }
  
  .content section h1 {
    margin: 30px auto 30px 0;
    font-size: 32px;
  }
  
  .content section p {
    font-size: 18px;
    color: #737378;
    line-height: 32px;
  }
  
  .back-link {
    margin-top: 10px;

    @media (max-width:801px){
      position: absolute;
      bottom: 17px;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      display: flex;
      justify-content: center;
      padding: 0 5px;
    }
  }
  
  .logo-form {
    @media (max-width:801px){
      width: 100%;
    }
  }

  .content form {
    width: 100%;
    max-width: 450px;
  }
  
  .content form input,
  .content form textarea {
    margin-top: 8px;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  button.button-submit {
    width: 49%;
    height: 60px;
    background: #E02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
  }
  
  button.button-submit:hover {
    filter: brightness(90%);
  }
  
  button.button-cancel {
    width: 49%;
    height: 60px;
    background: #dbdbdb;
    border: 0;
    border-radius: 8px;
    color: #000;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
  }
  
  button.button-cancel:hover {
    filter: brightness(90%);
  }
  
}
  
  